@use '../custom' as *;
@use '../components/mixins' as *;

.navbar {
    background-color: #47497e;
    height: 50px;
    min-height: 30.5469px;
    
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}
